In [1]:
import requests
import datetime
import pandas as pd
import numpy as np

def get_binance_data_request_(ticker, interval='4h', limit=1000, start='2023-01-01 00:00:00'):
  """
  interval: str tick interval - 4h/1h/1d ...
  """
  columns = ['open_time','open', 'high', 'low', 'close', 'volume','close_time', 'qav','num_trades','taker_base_vol','taker_quote_vol', 'ignore']
  start = int(datetime.datetime.timestamp(pd.to_datetime(start))*1000)
  url = f'https://www.binance.com/api/v3/klines?symbol={ticker}&interval={interval}&limit={limit}&startTime={start}'
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)
  data.index = [pd.to_datetime(x, unit='ms').strftime('%Y-%m-%d %H:%M:%S') for x in data.open_time]
  usecols=['open', 'high', 'low', 'close', 'volume', 'qav','num_trades','taker_base_vol','taker_quote_vol']
  data = data[usecols]
  return data

df = get_binance_data_request_('BTCUSDT', '1h')

C:\Users\33670\AppData\Local\Temp\ipykernel_18632\3149107273.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [2]:
df

,open,high,low,close,volume,qav,num_trades,taker_base_vol,taker_quote_vol
2022-12-31 23:00:00,1196.18,1197.43,1193.60,1196.13,5927.4320,7.086714e+06,11029.0,3263.0520,3.901192e+06
2023-01-01 00:00:00,1196.13,1196.70,1192.72,1194.09,5889.3840,7.036230e+06,15832.0,2550.8294,3.046972e+06
2023-01-01 01:00:00,1194.09,1196.37,1193.84,1196.02,3157.2079,3.773475e+06,8245.0,1583.8715,1.892940e+06
2023-01-01 02:00:00,1196.01,1196.74,1194.11,1195.40,3752.0476,4.484632e+06,8377.0,1771.7331,2.117552e+06
2023-01-01 03:00:00,1195.41,1195.41,1191.71,1194.04,7493.4207,8.941607e+06,10244.0,3409.5492,4.068126e+06
...,...,...,...,...,...,...,...,...,...
2023-02-11 10:00:00,1522.37,1523.01,1515.00,1518.82,29908.1784,4.541853e+07,21955.0,14954.1642,2.270943e+07
2023-02-11 11:00:00,1518.83,1520.52,1516.87,1520.16,4748.5946,7.210207e+06,11642.0,2439.7281,3.704488e+06
2023-02-11 12:00:00,1520.16,1525.19,1515.00,1519.55,12966.1148,1.971623e+07,19536.0,6660.1084,1.012840e+07
2023-02-11 13:00:00,1519.54,1523.55,1517.91,1523.15,10732.1248,1.632759e+07,19671.0,5864.8970,8.923426e+06
2023-02-11 14:00:00,1523.15,1526.71,1519.16,1525.51,12230.8355,1.862457e+07,24051.0,6148.0036,9.362738e+06

In [4]:
df2 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-02-11 14:00:00')

C:\Users\33670\AppData\Local\Temp\ipykernel_18632\3149107273.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [6]:
df3 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-03-25 06:00:00')

C:\Users\33670\AppData\Local\Temp\ipykernel_18632\3149107273.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [8]:
df4 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-05-05 21:00:00')

C:\Users\33670\AppData\Local\Temp\ipykernel_18632\3149107273.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [10]:
df5 = get_binance_data_request_('BTCUSDT', '1h', start = '2023-06-16 11:00:00')

C:\Users\33670\AppData\Local\Temp\ipykernel_18632\3149107273.py:13: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data = pd.DataFrame(requests.get(url).json(), columns=columns, dtype=np.float)

In [13]:
final_df = pd.concat([df, df2, df3, df4, df5])

In [14]:
final_df

,open,high,low,close,volume,qav,num_trades,taker_base_vol,taker_quote_vol
2022-12-31 23:00:00,1196.18,1197.43,1193.60,1196.13,5927.4320,7.086714e+06,11029.0,3263.0520,3.901192e+06
2023-01-01 00:00:00,1196.13,1196.70,1192.72,1194.09,5889.3840,7.036230e+06,15832.0,2550.8294,3.046972e+06
2023-01-01 01:00:00,1194.09,1196.37,1193.84,1196.02,3157.2079,3.773475e+06,8245.0,1583.8715,1.892940e+06
2023-01-01 02:00:00,1196.01,1196.74,1194.11,1195.40,3752.0476,4.484632e+06,8377.0,1771.7331,2.117552e+06
2023-01-01 03:00:00,1195.41,1195.41,1191.71,1194.04,7493.4207,8.941607e+06,10244.0,3409.5492,4.068126e+06
...,...,...,...,...,...,...,...,...,...
2023-07-27 20:00:00,1860.85,1862.31,1858.40,1858.71,4001.6418,7.444520e+06,7589.0,1585.5397,2.949680e+06
2023-07-27 21:00:00,1858.70,1861.73,1857.08,1859.10,3394.5497,6.310278e+06,7041.0,1556.7112,2.893838e+06
2023-07-27 22:00:00,1859.10,1861.92,1856.50,1856.51,4711.7354,8.761240e+06,7504.0,2084.1488,3.875582e+06
2023-07-27 23:00:00,1856.50,1861.43,1854.84,1861.28,4969.8377,9.229581e+06,7809.0,2250.5049,4.181081e+06
2023-07-28 00:00:00,1861.29,1864.62,1861.04,1862.16,3917.7316,7.295956e+06,7300.0,2303.1290,4.289068e+06

In [17]:
final_df.to_csv('./data/h1_btc_2023.csv', index=True)